.main{
  overflow-x: hidden !important;
}
.flex-gap-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* CARD */
.card {
  width: 100%;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: white;
}

.card>* {
  width: 100%;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.cardTags {
  display: flex;
  align-items: left;
  gap: 5px;
}

.tags {
  width: max-content;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid silver;
}


/* NAVBAR */
.display-options {
  position: relative;
}

.dropdown-options {
  position: absolute;
  width: 250px;
  background-color: #e7ecef;
  border-radius: 10px;
  margin-top: 10px;
  z-index: 10;
}

.dropdown-options>* {
  width: 100%;
}

.display-btn {
  /* background: #f8f8fa; */
  /* background: #fefae0; */
  background-color: #e7ecef;
  border: 1px solid silver;
  border-radius: 10px;
}

.select-style {
  width: 100px;
  border-radius: 5px;
  background: white;
  padding: 2px 5px;
}


/* DASHBOARD */
.container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  background: #ced4da;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dashboardContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}